.project {
    padding: 4rem 0;
    background-color: #f8f9fa;
    background: linear-gradient(90deg, #02264a 0%, #007bff 100%);

  }
  
  .project-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .project-h2 {
    font-size: 2rem;
    font-weight: bold;
  color: #230a61;
  ;
  }
  
  .project-p {
    font-size: 1rem;
    color: #333;
    
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .project-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .project-description {
    font-size: 1rem;
    color: #666;
  }
  